@page
@model AdminApp.Pages.AddParticipantModel
@{
    ViewData["Title"] = "AddParticipant";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<br />

<div class="container row">

    <div class="col-9">
        <h2 class="text-info">@Model.SomeEvent.Name</h2>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">

            @if (Model.Users.Count() > 0)
            {


                <table class="table table-striped table-success border">

                    @foreach (var someUser in Model.Users)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" asp-route-id="@someUser.eMail"> @Html.DisplayFor(m => someUser.Fullname)
                            </td>
                        </tr>
                    }

                </table>

                <button type="submit" class="btn btn-success text-white">Add user(s)</button>
                <a asp-page="Index" class="btn btn-danger text-white">Discard</a>

            }
            else
            {
                <p>There's no participant yet</p>
            }
        </form>
     </div>
</div>

