@page
@model AdminApp.Pages.AddUserModel
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Enter details for the user</h2>

<br />

<div class="container border">
    <form method="post">
        <div class="form-group row p-2">
            <div class="col-4">
                <label asp-for="SomeUser.Firstname"></label>
            </div>
            <div class="col-6 mb-2">
                <input asp-for="SomeUser.Firstname" class="form-control" />
            </div>

            <div class="col-4">
                <label asp-for="SomeUser.Lastname"></label>
            </div>
            <div class="col-6 mb-2 ">
                <input asp-for="SomeUser.Lastname" class="form-control" />
            </div>

            <div class="col-4">
                <label asp-for="SomeUser.eMail">Email</label>
            </div>
            <div class="col-6 mb-2 ">
                <input asp-for="SomeUser.eMail" class="form-control" />
            </div>

            <div class="col-4">
                <label asp-for="SomeUser.Pswd">Password</label>
            </div>
            <div class="col-6 mb-2 ">
                <input asp-for="SomeUser.Pswd" class="form-control" type="password" />
            </div>

            <div class="row container mx-auto w-50">
                <input class="btn btn-primary text-white mr-2" type="submit" />
                <a asp-page="Index" class="btn btn-danger text-white">Discard</a>
            </div>

        </div>
    </form>
</div>

