@page
@model AdminApp.Pages.AdminDashboardModel
@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="container">

    <div class="col-5">
        <h2 class="text-info">Welcome, @Model.CurrentUser.Firstname</h2>
    </div>
    
    <div class="col col-10">

        <div class="col-3">
            <a asp-page="AddItem" asp-route-id="@Model.CurrentUser.eMail" class="btn btn-info form-control text-white">Add Item</a>
        </div>

        <br />

        <div class="col-3">
            <a asp-page="ViewUsers" class="btn btn-info form-control text-white">View Users</a>
        </div>

        <br />

        <div class="col-3">
            <a asp-page="ViewItems" class="btn btn-info form-control text-white">View Items</a>
        </div>

        <br />

        <div class="col-3">
            <a asp-page="ViewRequests" class="btn btn-info form-control text-white">View Requests</a>
        </div>

        <br />

        <div class="col-3">
            <a asp-page="IssueItem" asp-route-id="@Model.CurrentUser.eMail" class="btn btn-info form-control text-white">Issue Request</a>
        </div>
    </div>

</div>

