@page
@model AdminApp.EditEventModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<h2 class="text-info">Enter details for the event</h2>

<br />

<div class="container border">
    <form method="post">
        <input type="hidden" asp-for="Event.Id" />
        <div class="form-group row p-2">
            <div class="col-4">
                <label asp-for="Event.Name"></label>
            </div>
            <div class="col-6 mb-2">
                <input asp-for="Event.Name" class="form-control" />
            </div>

            <div class="col-4">
                <label asp-for="Event.Venue"></label>
            </div>
            <div class="col-6 mb-2 ">
                <input asp-for="Event.Venue" class="form-control" />
            </div>

            <div class="col-4">
                <label asp-for="Event.EventDateTime">Event Date</label>
            </div>
            <div class="col-6 mb-2">
                <input asp-for="Event.EventDateTime" class="form-control" type="datetime-local" />
            </div>

            <div class="col-4">
                <label asp-for="Event.Id">Event ID</label>
            </div>
            <div class="col-6 mb-2">
                <input asp-for="Event.Id" class="form-control" readonly />
            </div>

            <div class="col-4">
                <label asp-for="Event.HostId">Event Host ID</label>
            </div>
            <div class="col-6 mb-2">
                <input asp-for="Event.HostId" class="form-control" />
            </div>

            <div class="row container mx-auto w-50">
                <input class="btn btn-primary text-white mr-2" type="submit" value="Update" />
                <a asp-page="ViewEvents" class="btn btn-danger text-white">Discard</a>
            </div>

        </div>
    </form>
</div>

