@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <h1 class="display-3">Welcome</h1>

    <br />

    <a asp-page="Login" class="btn btn-primary text-white">Login</a>
    <a asp-page="Signup" class="btn btn-primary text-white">Register</a>

</div>
