@page
@model AdminApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="text-center container">
    <h1 class="display-3">Welcome</h1>
    <span class="text-center">Login to continue</span>

    <div class="container w-50 border border-success col rounded form-group">
        <form method="post">
            <div class="form-group">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <label for="usr-name" asp-for="SomeUser.eMail">Enter your email</label>
                <input type="email" id="usr-name" asp-for="SomeUser.eMail" class="form-control" required tabindex="0"/>
                <span asp-validation-for="SomeUser.eMail" class="text-danger"></span>

                <br />
                <label for="pwd" asp-for="SomeUser.Password">Enter your password</label>
                <input type="password" id="pwd" asp-for="SomeUser.Password" class="form-control mb-2" required />
                <span asp-validation-for="SomeUser.Password" class="text-danger"></span>

                <br />

                <input type="submit" class="btn btn-primary text-white" value="Login" />

                <div class="form-group">
                    Don't have an account? <a class="text-info" asp-page="Signup">Sign up</a> instead
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
