@page
@model AdminApp.Pages.ReqItemModel
@{
    ViewData["Title"] = "ReqItem";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="container row">

    <div class="col-9">
        <h2 class="text-info"></h2>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
        </form>
    </div>
</div>

