@page
@model AdminApp.Pages.UserDashboardModel
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

@*<h2 class="text-info">Hello, @Model.CurrentUser.Firstname</h2>*@

<a asp-page="ReqItem" class="btn btn-primary">Make a Request</a>

